.numberButton
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 1px solid brown;
    vertical-align: middle;
    cursor: pointer;
    float: left;

    
}
.numberButton:hover{
    border: 1px solid black;
    background-color: coral;
}

.operationButton
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 1px solid indianred;
    background-color: lightcoral;
    vertical-align: middle;
    cursor: pointer;
    float: left;
    
}
.operationButton:hover{
    border: 1px solid black;
    background-color: coral;
}

.clearButton
{  
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 210px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 1px solid brown;
    vertical-align: middle;
    cursor: pointer;
    float: left;
  
}
.clearButton:hover{
    border: 1px solid black;
    background-color: coral;
}

.display
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 280px;
    height: 80px;
    line-height: 80px;
    border: 1px solid indianred;
    text-align: right;
    padding-right: 5px;
    background-color:darkslategray;
    color: white;
    cursor: pointer;
}

.clearFloating{
    clear: both;
}
.leftFloating
{
    float: left;
}